@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-link {
    @apply bg-white text-blue-700 font-semibold py-2 px-4 border border-blue-500 rounded transition-colors;
  }

  .button-link:hover {
    @apply bg-blue-500 text-black border-transparent;
  }
}

@layer base {
  @font-face {
    font-family: "Jersey 15", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Jersey-15);
  }
}
